html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    color: #533738;
    background-color: #EFE6E4;
    


}
.header{
    
    position: absolute;
    z-index: 1;
   width: 100%;
   padding: 0 20px;
   
    
}
.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}


nav ul{
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}
nav ul li{
    list-style: none;
   
    
}
nav ul li:not(:last-child){
    margin-right: 26px;
}

nav ul li a{
    text-decoration: none;
    color: #533738;
    font-weight: normal;
font-size: 16px;
line-height: 20px;

}
nav ul li a:hover{
    color:#CC8B86;
}
.header .tel{
    font-weight: normal;
font-size: 16px;
line-height: 20px;
cursor: pointer;
}
.header .tel:hover{
    color:#CC8B86;
}

.content{
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 20px;
}
.promo{
    background-image: url(../img/anastasiya-vysotskaya-v5GfetB7Yv0-unsplash\ 1.jpg);
    background-position: center top;
    background-size: cover;
    position: relative;
    padding-top: 180px;
    min-height: 100vh;
    
}
.promo .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.promo h1{
    font-weight: normal;
font-size: 50px;
line-height: 62px;
margin: 0;
margin-bottom: 24px;

}
.promo h2{
    font-weight: normal;
font-size: 18px;
line-height: 30px;
grid-column: 1/2;
margin: 0;
margin-bottom: 21px;
}
.promo a{
    text-decoration: none;
    font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #533738;
justify-self: start;
background: #CC8B86;
border:#CC8B86 solid 1px; 
padding: 25px 66px 24px 67px;
grid-column: 1/2;
margin-bottom: 168px;
}
.promo a:hover{
    background-color:#694947;
    color: #fff;
}
.about {
  
   padding-bottom: 30px;
}
.about h3{
    font-weight: normal;
font-size: 40px;
line-height: 50px;
margin: 0;
text-align: center;
padding-top: 65px;

margin-bottom: 40px;
}
.about .content{
    display: grid;
    grid-template-columns: 445px 1fr;
    column-gap: 65px;
}
.about p{
    margin: 0;
    font-weight: normal;
font-size: 18px;
line-height: 30px;
display: inline-block;
}
.about p.two{
    grid-column: 2/3;
}
.preim{
    background: #8D7370;
}
.preim ul{
    margin: 0;
    list-style: none;
    padding-left: 0;
    display: flex;justify-content: space-between;
    
}
.preim ul li b{
    font-weight: normal;
font-size: 50px;
line-height: 62px;
}
.preim ul li{
    font-weight: 500;
font-size: 30px;
line-height: 37px;
color: #fff;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 85px;
padding-bottom: 81px;
}

.work h3{
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin: 0;
    margin-top: 65px;
    margin-bottom: 40px;
}
.work .content{
    max-width: 1200px;
}

.work ul{
    display: grid;
    grid-template-columns: 488px 691px;
    column-gap: 20px;
    row-gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.work ul li img{
    display: block;
}

.work_item4{
    justify-self: flex-end; 
}
.work_item3{
    justify-self: start;
}


.work a{
    font-weight: 500;
font-size: 30px;
line-height: 37px;
text-decoration: none;
color: #533738;
display: block;
text-align: center;
margin-bottom: 60px;
margin-top: 40px;

}
.work a::after{
    content: '';
    display: inline-block;
    background-image: url(../img/work/Arrow\ 3.svg);
    background-repeat: no-repeat;
    width: 65px;
    height: 14px;
}
.work a:hover{
    color:#CC8B86;
}
.works-item  {
    position: relative;
    
}

.work ul li .works-hover {  /*стили карточек,которые скрыты и появляются  при наведении*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    box-sizing: border-box;
    
    padding-right: 35px;
    padding-left: 35px;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(100, 72, 69, 0.8);
   

}

.works-item:hover .works-hover {
    z-index: 2;
    cursor: pointer;
   
}
.works-heading {
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 15px;
    max-width: 270px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
}

.works-text {
    display: -webkit-box;
    overflow-y: hidden;

    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.team{
    background-color: #E2C4BA;
    
}
.team h3{
    font-weight: normal;
font-size: 40px;
line-height: 50px;
text-align: center;
padding: 50px 0 40px 0;
margin: 0;
text-transform:uppercase ;
}

.team .team_card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style: none;
    column-gap: 38px;
    margin: 0;
    padding: 0;
}

.team .team_list{
    display: flex;
   justify-content: space-between;
   align-items: center;
   text-align: center;
}

.team .team_list .raund{
    font-weight: 500;
font-size: 30px;
line-height: 30px;
background-color: #8D7370;
color: #fff;
border-radius: 50%;
max-width: 70px;

padding: 20px;
overflow: hidden;
text-align: center;
margin: 0 auto;

}
.team .team_list {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-bottom: 80px;
    
}

.team .team_list li:not(:last-child){
    margin-right: 20px;
}
.team .team_list p{
    font-weight: normal;
font-size: 18px;
line-height: 30px;
}
.team .team_list li{
    max-width: 285px;
}
.reviews{
    padding-bottom: 35px;

}

.reviews h3{
    font-weight: normal;
font-size: 40px;
line-height: 50px;
text-align: center;
text-transform: uppercase;
margin-top: 65px;
}
.reviews .content{
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}
.swiper-container{
    overflow: hidden;
}

.swiper-slide {
      
    text-align: center;
    font-size: 18px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.reviews_img{
    max-width: 407px;
   
}


.reviews p{
    font-weight: normal;
font-size: 18px;
line-height: 30px;

}   

.p_wrapper{
    max-width: 407px;
    justify-self: end;
    align-self: center;
    text-align: left;
    

}
.reviews_img img:first-child{
  margin-bottom: 24px;
}
.reviews .btn{
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #cc8b86;
    border: none;
    cursor: pointer;
    
   
}
.reviews .btn:focus{
    outline: none;
    
}
.reviews .btn_left{
  position: absolute;
  left: 0;
  top: 45%;
}
.reviews .btn_left::after{
    content: '';
    display: inline-block;
    background-image: url(../img/reviews/Arrow_left.svg);
    background-repeat: no-repeat;
    width: 33px;
    height: 16px;
}
.reviews .btn_right{
    position: absolute;
    right: 0;
    top: 45%;
}
.reviews .btn_right::after{
    content: '';
    display: inline-block;
    background-image: url(../img/reviews/Arrow_right.svg);
    background-repeat: no-repeat;
    width: 33px;
    height: 16px;
}

.map{
    background-color:#8D7370 ;
}
.map h3{
    margin: 0;
    font-weight: normal;
font-size: 40px;
line-height: 50px;
color: #fff;
padding: 50px 0 24px 0;
text-transform: uppercase;
}
.map .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.map p{
    font-weight: normal;
font-size: 18px;
line-height: 30px;
color: #fff;
margin-bottom: 44px;
}
.map input{
    background-color:#8D7370 ;
    border: none;
    border-bottom: 1px solid  #F6EDE9;
    display: block;
    padding-bottom: 6px;
    width: 100%;
}

.map input::placeholder {
    color: #f6ede9;
    font-weight: 400;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 1px;
}
.map input[type="text"]{
    margin-bottom: 40px;
}
.map button{
  background-color: #CC8B86; 
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 25px 66px;
  border: none;
    color: #533738;
    margin-top: 80px;
    margin-bottom: 187px;
    cursor: pointer;
}
.map button:hover{
    background-color: rgb(240, 212, 212);
}
footer ul{
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer ul li{
    font-weight: normal;
font-size: 18px;
line-height: 30px;
}
footer ul li:nth-child(2){
    margin-left: 42px;
    margin-right: auto;
}

/* стили слайдера*/



    /* Center slide text vertically */
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;*/
  
  .swiper-pagination{
    color: #775051;
  }
